<!-- show specific mission content here, following just test example -->
<h1>
  <a href="javascript: history.go(-1)"><i class="icon-arrow-left-3 fg-darker smaller"></i></a>
  <%= mission.get("missionName") %><small class="on-right">由<%= mission.get("startGroup") %>的<%= mission.get("starter") %>發起</small>
</h1>

<h2>任務內容</h2>
<p class="description" data-hint-position="top" data-hint="可修改的內容|請點我兩下後開始修改，再點其它處自動存檔。"><input type="text" id="missionContent" value="<%= mission.get("missionContent") %>" size="100" mxalength="50"/></p>
 <style type="text/css"> 
  #missionContent {
    border: none;
    padding: 0;
    margin: 0;
    background: none;
  }

  #missionContent.focus {
    border: 1px solid #000;
  }
</style>
<script type="text/javascript">
  $('#missionContent').focus( function() {
    $(this).addClass('focus');
  }).blur( function() {
    $(this).removeClass('focus');
    $.post("/mission/updateContent/<%= mission.id %>", {missionContent:$('#missionContent')[0].value}, function(results){
      if(!results.successs){
        $.Notify({
          shadow: true,
          position: 'bottom-right',
          content: "更新任務內容成功!!!"
        });
      }else{
        $.Notify({
          shadow: true,
          position: 'bottom-right',
          content: "更新任務內容失敗!!!"
        });
      }
    });
  });

  //set to link event
  function toLink() {
    if(typeof $('#hresmanage').datagrid("getSelected") == 'undefined'){
      alert("請稍候再試！");
      return false;
    }
    if($('#hresmanage').datagrid("getSelected") == null){
      alert("請先選擇一筆人力需求!");
    }else{
      window.location.href="/linkHreq?reqId=" + $('#hresmanage').datagrid("getSelected").objectId;
      //$('#reqForm').submit();
      //$('#reqId')[0].value = $('#hresmanage').datagrid("getSelected").objectId;
      //$('#reqForm').submit();
    }
  };
  function toAssign() {
    if(typeof $('#hresmanage').datagrid("getSelected") == 'undefined'){
      alert("請稍候再試！");
      return false;
    }
    if($('#hresmanage').datagrid("getSelected") == null){
      alert("請先選擇一筆人力需求!");
    }else{
      var url = "/assignReq/"+$('#hresmanage').datagrid("getSelected").objectId;
      //$.post( url , { id : $('#hresmanage').datagrid("getSelected").objectId} );
    }
  };
</script>

<br>
<div class="example">
<div class="tab-control" data-role="tab-control" data-effect="fade">
  <ul class="tabs">
    <li class="active"><a href="#_page_1">人力需求</a></li>
    <li class=""><a href="#_page_2">物資需求</a></li>
    <li class=""><a href="#_page_3"><i class="icon-share-2"></i>配發人力需求之物資</a></li>
  </ul>

  <div class="frames">
    <div class="frame" id="_page_1">
      <h3>此任務的人力需求管理
       <a href="#" onClick="toLink();return false;">
       <i class="icon-share-2 on-left on-right" style="background: red; color: white; padding: 10px; border-radius: 50%" data-hint-position="top" data-hint="點我開始分配物資|請先選擇一筆人力需求後再點擊，以進入物資分配頁面"></i></a>
       <small>配發人力需求物資</small>
       <a href="#" onClick="toAssign(); return false;">
       <i class="icon-arrow-up-right on-left on-right" style="background: blue; color: white; padding: 10px; border-radius: 50%" data-hint-position="bottom" data-hint="點我開始指配志工|請先選擇一筆人力需求後再點擊，以進入志工指派頁面"></i></a>

       <small>指派志工</small>
       </h4>
       <!-- for assign or link usage form -->
       <form id="reqForm" action="/linkHreq" method="post">
        <input id="reqId" type="hidden" value="" />
       </form>
       <form id="assignForm" action="/assignHreq" method="post">
        <input id="assignId" type="hidden" value="" />
       </form>
       <!-- form end -->
      <table id="hresmanage" title="人力需求列表" style="height:450px" class="bordered"
        toolbar="#toolbar" idField="objectId" pagination="true"
        rownumbers="true" fitColumns="true" singleSelect="true">
        <thead>
          <tr>
            <th field="jobContent" width="50" editor="{type:'validatebox',options:{required:true}}">工作內容</th>
              <th field="numOfPpl" width="20" editor="{type:'validatebox',options:{required:true}}">人數需求</th>
              <th field="workLocation" width="20" editor="text">工作地點</th>
              <th field="startTime" width="20" editor="text">開始時間</th>
              <th field="endTime" width="20" editor="text">結束時間</th>
              <th field="wageType" width="20" editor="{type:'validatebox',options:{required:true}}">志工或工讀</th>              
              <th field="gatherLocation" width="30" editor="text">集合地點</th>              
              <th field="note" width="50" editor="text">備註</th>            
          </tr>
        </thead>
      </table>
      <div id="toolbar">
        <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="javascript:$('#hresmanage').edatagrid('addRow')">New</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="javascript:$('#hresmanage').edatagrid('destroyRow')">Destroy</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-save" plain="true" onclick="javascript:$('#hresmanage').edatagrid('saveRow')">Save</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-undo" plain="true" onclick="javascript:$('#hresmanage').edatagrid('cancelRow')">Cancel</a>
      </div>
      <script type="text/javascript">
        $(function(){
          $('#hresmanage').edatagrid({
            url: '/mission/<%= mission.id %>/showHreq',
            saveUrl: '/mission/<%= mission.id %>/newHreq',
            updateUrl: '/hreqUpdate',
            destroyUrl: '/delHreq'
          });
        });
      </script>

    </div>

    <div class="frame" id="_page_2">
      <h4>此任務的物資需求管理</h4>
      <table id="resmanage" title="物資需求列表（只顯示沒與人力配對之結果）" style="width:994px;height:450px"
        toolbar="#r_toolbar" idField="objectId" pagination="true"
        rownumbers="true" fitColumns="true" singleSelect="true">
        <thead>
          <tr>
            <th field="itemName" width="20" editor="{type:'validatebox',options:{required:true}}">物品名稱</th>
            <th field="amount" width="10" editor="{type:'validatebox',options:{required:true}}">數量</th>
            <th field="personIncharge" width="20" editor="text">負責人</th>
            <th field="ownType" width="10" editor="text">物品擁有方式</th>
            <th field="source" width="10" editor="text">來源</th>
            <th field="location" width="20" editor="text">地點</th>
            <th field="note" width="40" editor="text">備註</th>
          </tr>
        </thead>
      </table>
      <div id="r_toolbar">
        <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="javascript:$('#resmanage').edatagrid('addRow')">New</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="javascript:$('#resmanage').edatagrid('destroyRow')">Destroy</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-save" plain="true" onclick="javascript:$('#resmanage').edatagrid('saveRow')">Save</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-undo" plain="true" onclick="javascript:$('#resmanage').edatagrid('cancelRow')">Cancel</a>
      </div>
      <script type="text/javascript">
        $(function(){
          $('#resmanage').edatagrid({
            url: '/mission/<%= mission.id %>/showNhreq',
            saveUrl: '/mission/<%= mission.id %>/nhwNhreq',
            updateUrl: '/NhreqUpdate',
            destroyUrl: '/admin/delNhres'
          });
        });
      </script>
    </div>


<!-- link page -->
    <div class="frame" id="_page_3">
      <p>這裡是連結頁面</p>
    </div>
  </div>

</div>
</div>


<br><br>
<!-- delete test -->
<form id="delForm" action="<%= '/mission/' + mission.id %>" method='post'>
  <!-- you need following hidden tag to overwrite post method into del -->
  <input type='hidden' name='_method' value='delete' />
  <button class="danger large" type="button" id="deleteMission">刪除任務</button>
  <script type="text/javascript">
  $('#deleteMission').click(function() {
    var res = confirm('您確定要刪除此任務?');
    if(!res){ 
       return false; 
    }else{ 
       $('#delForm').submit();
    }
  });
  </script>
  
</form>
